*{
  margin: 0;
}

.container{
  width: 200vw;
  height: 100vh;
  display: flex;
  gap: 20px;
}

.first-half{
  height: 100vh;
  width: 50vw;
  background-image: url('assets/pexels-ivan-samkov-4240511\ 1.png');
   background-size: cover;
  background-position: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden; 
}

.navbar{
  display: flex;
  gap: 250px;
}

.Sign-up{
  padding-top: 28px;
}

.Logo{
  padding-top: 15px;
}

.heading-1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
}

.mini-heading{
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 10.9px;
  letter-spacing: 0%;
  color:#7E7E7E;
  text-align: center;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.google-btn{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}


.apple-btn{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.continue{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.input-1{
  width: 515.8690185546875px;
  height: 45.2770767211914px;
  top: 414.92px;
  left: 1206px;
  border-width: 1px;
  border-radius: 10px;
  color: #7E7E7E;
  padding-left: 20px;

}

.div-1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.last-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.btn{
  width: 540.8690185546875px;
  height: 74.47859191894531px;
  top: 889.52px;
  left: 1206px;
  border-radius: 10px;
  background: #5AC8FA;
}